{% extends "_page.html" %}
{% block title %}Yardstick test image — {{image.name|default(image.sha1)}}{% endblock %}
{% block subheader %}
{{image.name|default('Untitled image')}}
{% endblock %}
{% block head %}
<style>
p.url a, h2 {display:block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
th {text-align: right; padding-right: 1ex}
td {font-family: Helvetica, Arial, sans-serif;}
</style>
{% endblock %}
{% block body %}
<p class="url"><a href="{{image.url}}">{{image.url}}</a></p>
{% if image.desc.text %}
<p>{{image.desc.text}}</p>
{% endif %}
{% if image.desc.html %}
{{image.desc.html| safe}}
{% endif %}
{% if image.lic != 'pd' and image.wiki.Artist %}
{{image.wiki.Artist| safe}}
{% endif %}

<table>
<tr><th>File size<td>{{image.size}}
<tr><th>Dimensions<td>{{image.width}}×{{image.height}}
<tr><th>License<td>
{% if license %}
    <a href="{{license.url}}">{{license.name}}</a>
{% else %}
    {{image.lic}}
{% endif %}

<tr><th>From<td>
{% if source %}
    <a href="/sources#{{image.from|urlencode}}">{{source.title}}</a>
{% else %}
    {{image.from}}
{% endif %}
<tr><th>Added<td>on {{image.created_string}}
<tr><th>File SHA-1<td>{{image.sha1}}
</table>

{% if image.desc.url %}
<p><a href="{{image.desc.url}}">Description</a></p>
{% endif %}
<p><a href="{{source_url}}">Source data</a>. <a href="{{download_url}}">Raw image download</a>.</p>

{% if image.tags %}
<h2><a href=/tags>Tags</a></h2>
<ul id=tags>
{% for tag in image.tags %}
<li><a href="/tags/{{tag|urlencode}}">{{tag}}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

