{% extends "_page.html" %}
{% block title %}Yardstick test image — {{image.name|default(image.sha1)}}{% endblock %}
{% block subheader %}
{{image.name|default('Untitled image')}}
{% endblock %}
{% block head %}
<style>
p.url a, h2 {display:block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
th {text-align: right; padding-right: 1ex; padding-bottom: 0.25ex}
thead th {text-align: left; font-weight: normal;}
thead th:first-child, td.metric {text-align: right}
.analyses tbody > tr > th,td {padding-right:1ex;font-family: Helvetica, Arial, sans-serif;}
th small {font-weight: normal; display: block;}
td.details, td.metric {font-size: 0.9em; font-family: georgia, serif}
td.metric a {text-transform: uppercase; text-decoration: none}

</style>
{% endblock %}
{% block body %}
<p class="url"><a href="{{image.url}}">{{image.url}}</a></p>
{% if image.desc.text %}
<p>{{image.desc.text}}</p>
{% endif %}
{% if image.desc.html %}
{{image.desc.html| safe}}
{% endif %}
{% if image.lic != 'pd' and image.wiki.Artist %}
{{image.wiki.Artist| safe}}
{% endif %}

<table>
<tr><th>File size<td>{{image.size}}
<tr><th>Dimensions<td>{{image.width}}×{{image.height}}
<tr><th>License<td>
{% if license %}
    <a href="{{license.url}}">{{license.name}}</a>
{% else %}
    {{image.lic}}
{% endif %}

<tr><th>From<td>
{% if source %}
    <a href="/sources#{{image.from|urlencode}}">{{source.title}}</a>
{% else %}
    {{image.from}}
{% endif %}
<tr><th>Added<td>on {{image.created_string}}
<tr><th>File SHA-1<td>{{image.sha1}}
</table>

{% if image.desc.url %}
<p><a href="{{image.desc.url}}">Description</a></p>
{% endif %}
<p><a href="{{source_url}}">Source data</a>. <a href="{{download_url}}">Raw image download</a>.</p>

{% if image.tags %}
<h2><a href=/tags>Tags</a></h2>
<ul id=tags>
{% for tag in image.tags %}
<li><a href="/tags/{{tag|urlencode}}">{{tag}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if metrics %}
<h2>Analyses</h2>
<table class=analyses>
<thead><tr><th>Analysis</th><th>File size</th><th>Metric</th><th>Value</th><th>Details</th></tr></thead>
{% for m in metrics %}
<tr><th>{{m.analysis.name}}
</th><td>{{m.size}}</td><td class="metric" title="{{m.version}}"><a href="{{m.url}}">{{m.name}}</a></td><td>{{m.value}}</td><td class=details>{{m.analysis.version}}</td></tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}

