{% extends "_page.html" %}
{% block title %}Yardstick: {{image.data.name|default(image.data.sha1)}}{% endblock %}
{% block subheader %}
{{image.data.name|default('Untitled image')}}
{% endblock %}
{% block head %}
<style>
p.url a, h2 {display:block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
th {text-align: right; padding-right: 1ex; padding-bottom: 0.25ex}
thead th {text-align: left; font-weight: normal;}
thead th:first-child, td.metric {text-align: right}
.analyses tbody > tr > th,td {padding-right:1ex;font-family: Helvetica, Arial, sans-serif;}
th small {font-weight: normal; display: block;}
td.details, td.metric {font-size: 0.9em; font-family: georgia, serif}
td.metric a {text-transform: uppercase; text-decoration: none}
</style>
{% endblock %}
{% block body %}
<p class="url"><a rel="nofollow" href="{{image.data.url}}">{{image.data.url}}</a></p>
{% if image.data.desc.text %}
<p class="plaintext">{{image.data.desc.text}}</p>
{% endif %}
{% if image.data.desc.html %}
{{image.data.desc.html| safe}}
{% endif %}
{% if image.data.lic != 'pd' and image.data.wiki.Artist %}
{{image.data.wiki.Artist| safe}}
{% endif %}

<table>
{% if image.data.size %}
<tr><th>File size<td>{{image.data.size}}
{% endif %}
{% if image.data.width %}
<tr><th>Dimensions<td>{{image.data.width}}×{{image.data.height}}
{% endif %}
<tr><th>License<td>
{% if license %}
    <a href="{{license.url}}">{{license.name}}</a>
{% else %}
    {{image.data.lic}}
{% endif %}

<tr><th>From<td>
{% if source %}
    <a href="/sources#{{image.data.from|urlencode}}">{{source.title}}</a>
{% else %}
    {{image.data.from}}
{% endif %}
<tr><th>File SHA-1<td class=sha1>{{image.data.sha1}}
</table>

{% if image.data.desc.url %}
<p><a href="{{image.data.desc.url}}">Description</a></p>
{% endif %}
<p><a href="{{source_url}}">Source data</a>.
{% if download_url %}
<a href="{{download_url}}">Raw image download</a>.
{% endif %}
</p>

{% if image.data.tags and image.data.tags.length %}
<h2><a href=/tags>Tags</a></h2>
<ul class=tags>
{% for tag in image.data.tags %}
<li><a rel="tag" href="/tags/{{tag|urlencode}}">{{tag}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if metrics.length %}
<h2>Analyses</h2>
<table class=analyses>
<thead><tr><th>Analysis</th><th>File size</th><th>Metric</th><th>Value</th><th>Details</th></tr></thead>
{% for m in metrics %}
<tr><th>{{m.analysis.name}}
</th><td>{{m.size}}</td><td class="metric" title="{{m.version}}"><a href="{{m.url}}">{{m.name}}</a></td><td>{{m.value}}</td><td class=details>{{m.analysis.version}}</td></tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}

