<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Contribute to Yardstick pictures</title>
<link rel=stylesheet href=/css/normalize.css>
<link rel=stylesheet href=/css/style.css>
<body>
<main>
    <header>
        <h1>Yardstick</h1>
        <p class="hsub">Other test suites</p>
    </header>

<p>Freely available uncompressed image collections, in no particular order:</p>
<ul>
    <li><a href="http://www.tecnick.com/public/code/cp_dpage.php?aiocp_dp=testimages">TESTIMAGES: a large-scale archive for testing visual devices and basic image processing algorithms</a></li>
    <li><a href="https://github.com/jhcloos/test_images">honolulu test set, HDPhoto test image set, AIC core 1 test image
set</a></li>
    <li><a href="http://r0k.us/graphics/kodak/">Kodak Lossless True Color Image Suite</a></li>
    <li><a href="http://homepages.lboro.ac.uk/~cogs/datasets/ucid/ucid.html">Uncompressed Colour Image Database</a></li>
    <li><a href="http://www2.irccyn.ec-nantes.fr/ivcdb/">Subjective quality assessment - IVC database</a></li>
    <li><a href="http://sipi.usc.edu/database/">The USC-SIPI Image Database</a></li>
</ul>
<p><a href="/">Back to homepage</a></p>
