{% extends "_page.html" %}
{% block title %}{{tag.name|capitalize}} — Yardstick pictures by tag{% endblock %}
{% block subheader %}
    <a href=/tags>Images by tag</a>: {{tag.name}}
{% endblock %}
{% block head %}
<style>
/*td {padding-right: 1ex;}
td.size, td.width, td.height {text-align: right; vertical-align: bottom;}
td.width {padding-right: 0}
td.height {text-align: left}*/
td.size, td.width, td.height {font-family: helvetica, arial, sans-serif;}
table { font-size: 0.8em;}
tbody {
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: flex-end;
}
tr,td,table {
    display: block; text-align: center;
    max-width: 100%;
    overflow: hidden;
}
tr {padding: 0 1px 1em}
td.width, td.height {display: inline-block;}
.thumb {background:#fcfcff; overflow: hidden; margin: 0 auto;}
a:hover .thumb {background:#ddf;}
td > a {display:block; min-height: 22px; text-decoration: none; color: #aac;}
</style>
{% endblock %}
{% block body %}
<p>{{tag.images.length}} images tagged '{{tag.name}}'</p>
<table>
{% for img in tag.images %}
<tr><td>
<a href="/image/{{img.sha1|truncate(6,true,'')|urlencode}}">
<img src="https://img.gs/bqbbkhnnnc/{{img.thumbWidth}}x{{img.thumbHeight}},crop/{{img.sourceURL}}"
class=thumb width={{img.thumbWidth}} height={{img.thumbHeight}} alt="{{img.ext}}">
</a>
<td class=size>
{% if img.height %}
{{img.size_kb}}KB
{% endif %}
<td class=width>
{{img.width}}
<td class=height>
{% if img.height %}
×{{img.height}}
{% endif %}
<td>
{{img.lic}}
</tr>
{% endfor %}
</table>
{% endblock %}
