{% extends "_page.html" %}
{% block title %}Tags in Yardstick image test suite{% endblock %}
{% block subheader %}
    Browse images by tags
{% endblock %}
{% block body %}
<p>These are some of the images included in the <a href="/">Yardstick image test suite</a>.</p>
<h2>Image properties</h2>
<ul class="tags">
{% for tag in img_tags %}
<li><a href="/tags/{{tag.name|urlencode}}">{{tag.name}}<span> × {{tag.num}}</span></a></li>
{% endfor %}
</ul>
<h2>Image content</h2>
<p>These tags are from various sources, including AI image recognition.</p>
<ul class="tags many">
{% for tag in content_tags %}
<li><a href="/tags/{{tag.name|urlencode}}">{{tag.name}}<span> × {{tag.num}}</span></a></li>
{% endfor %}
</ul>
{% endblock %}
