<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Contribute to Yardstick pictures</title>
<link rel=stylesheet href=/css/normalize.css>
<link rel=stylesheet href=/css/style.css>
<body>
<main>
    <header>
        <h1>Yardstick</h1>
        <p class="hsub">Image Test Suite</p>
    </header>
    <h2>Thanks!</h2>
    <p>We've received your images.</p>
    <nav><ul>
        <li><a href="/contribute">Submit more?</a></li>
        <li><a href="/">Back to project homepage</a></li>
    </ul></nav>

