html {
    font: 0.98em/1.5 Georgia, serif;
    font-family: Lora, Georgia, serif;
    background: #fff;
    color: #333;
    background: #ddd;
}
body {
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1800px) {
    body {
        background-size: 1800px;
    }
}
main {
    background: #fff;
    max-width: 52em;
    margin: 0 auto;
    padding: 0 3em 1.5em;
    min-height: 100vh;
    border-bottom: 1em solid #aaa;
    box-sizing: border-box;
}

h1 a, h2 a {
    color: inherit;
    text-decoration: none;
}
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus {
    text-decoration: underline;
    text-decoration-color: #a44;
}
h1 {
    color: #000;
    margin: 0 0 0 -0.3ex;
    line-height: 1;
    font-size: 4em;
    font-family: "times new roman", serif;
    letter-spacing: -0.08ex;
}


@media screen and (max-width: 1000px) {
    body {
        padding: 0 5%;
    }
}
@media screen and (max-width: 600px) {
    body {
        padding: 0
    }
    main {
        padding: 0 2em;
    }
}
@media screen and (max-width: 400px) {
    main {
        padding: 0 1em;
        margin: 0;
    }
    header {
        font-size: 0.8em;
    }
    ol, ul {
        margin-left: 0;
        padding-left: 1.5em;
    }
}

h2,h3  {
    color: #000;
    font-weight: normal;
    font-style: italic;
}
.hsub, header h2 {
    color: #800;
    font-size: 2em;
    margin: 0;
}
header p {
    margin-bottom: 0
}
header {
    border-bottom: 1px dashed #000;
    padding: 1.75em 0 0.5em;
    margin: 0 0 2em;
}
header .lead {color: #777;}
.cta {
    margin: 2em;
    text-align: center;
}
.cta a {
    display: inline-block;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    background: #494;
    background: linear-gradient(#4a4, #383);
    color: white;
    font-weight: bold;
    font-family: "Roboto slab", "Lucida Grande", "Candara", "trebuchet ms", "Droid serif", Georgia, serif;
}
.cta a:hover {
    background: #4a4;
    background: linear-gradient(#4b4, #484);
}

pre, code {
    font-family: consolas, monospace, serif;
}
pre {
    white-space: pre-wrap;
    padding: 1em;
    background: #f8f8f8;
}
